---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import TribbleContent from '../components/TribbleContent.astro';
import OeffnungzeitenAnschrift from '../components/OeffnungszeitenAnschrift.astro'
import InformationsPickture from '../components/Informations-Pickture.astro';
import Maps from '../components/Maps.astro';
import ImgTextImg from '../components/ImgTextImg.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Impressum</h1>
		<div class="section">
			<div class="element">
                <h4>Angaben gemäß § 5 TMG:</h4>
                Jan Griebsch <br>
                Bardenitzer Dorfstraße 56 <br>
                14929 Treuenbrietzen OT Bardenitz<br>
            </div>
            <div class="element">
                <h4>Kontakt:</h4>
                Telefon: 03374815597 <br>
                Telefax: 03374821930<br>
                E-Mail: info@flaeming-wildhandel.de<br>
            </div>
            <div class="element">
                <h4>Umsatzsteuer:</h4>
                Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: <br>
                DE328379807
            </div>
            <div class="element">
                <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
                Jan Griebsch <br>
                Bardenitzer Dorfstraße 56<br>
                14929 Treuenbrietzen OT Bardenitz
            </div>
            <div class="element">
                <h4>Streitschlichtung:</h4>
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
            </div>
            <div class="element">
                <h4>Haftung für Inhalte</h4>
                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                <br><br>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
            </div>
            <div class="element">
                <h4>Haftung für Links:</h4>
                Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
               <br><br>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            </div>
            <div class="element">
                <h4>Urheberrecht:</h4>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                <br><br>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
            </div>
            <div class="element">
                <h4>Bildnachweis:</h4>
                Fläming Wildhandel Jan Griebsch
            </div>    
		</div>
	</main>
		<Footer />
	</body>
</html>

<style>
	
	main {
		display: flex;
		flex-direction: column;
	}

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }

    h4 {
        color: var(--accent);
    }

	.section {
		/* background-color: aquamarine; */
		display: flex; 
		flex-direction: column;
		margin-bottom: 10%;
	}

    .element {
        margin-bottom: 5%;
    }
	
</style>
