---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import TribbleContent from '../components/TribbleContent.astro';
import OeffnungzeitenAnschrift from '../components/OeffnungszeitenAnschrift.astro'
import InformationsPickture from '../components/Informations-Pickture.astro';
import Maps from '../components/Maps.astro';
import Partner from '../components/Partner.astro';
import ImgTextImg from '../components/ImgTextImg.astro';
import { SITE_TITLE, SITE_DESCRIPTION, overlayUrl } from '../consts';
import Overlay from '../components/Overlay.astro';


import { fetchFromFTP } from '../../ftpClient'
const data = await fetchFromFTP();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<!-- <Overlay overlayUrl={overlayUrl} /> -->
		<img alt="Banner Bild" class="banner" src="/banner.avif">
		<h2 class="center-text">küchenfertiges Wildbret</h2>
		<main class="main-content">
			<InformationsPickture />
			<br><br><br>
			<h2>Unsere Produkte</h2>
			<Carousel />
			<br><br><br>
			<h2>Was tun wir</h2>  
			<TribbleContent /><br>
			<h2>Stark regional</h2>
			<Partner />
			<OeffnungzeitenAnschrift /><br><br>
		</main>
		<ImgTextImg />
		<main>
			<br><br>
			<h2>Unser Standort</h2>
			<Maps />
			<br>
		</main>
		<Footer />

        <!-- Instagram Button -->
		<a href="instagram://user?username=flaeming_wildhandel" target="_blank" rel="noopener noreferrer" class="instagram-button">
			<img src="/InstaIcon.AVFI" alt="Instagram" class="instagram-logo" height="32px" width="32px">
		</a>
		<!-- Instagram Button -->


	</body>
</html>

<style>
	.banner {
		border-radius: 0px;
		width: 100vw;
		height: auto;
	}
	.h2 {
		margin-bottom: -7%;
	}

	@media (max-width: 750px) {
		.h2 {
			margin-left:4%;
			margin-right: 4%;
		}
		.banner {
        	content: url('/bannerMobile.AVIF'); /* Hier den Pfad zum anderen Bild einfügen */
    	}
	}
	@media (min-width: 1080px) {
		.instagram-button, .instagram-logo {
			display: none;
		}
	}
	@media (max-width: 1080px) {
		.banner {
        	content: url('/bannerIpad.AVIF'); /* Hier den Pfad zum anderen Bild einfügen */
    	}
	}
    .instagram-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 1000;
    }
    .instagram-logo {
        width: 45px; 
        height: auto;
    }

	.center-text {
		text-align: center;
		margin: 0px;
		margin-bottom: 10px;
	}
</style>
