---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import TribbleContent from '../components/TribbleContent.astro';
import OeffnungzeitenAnschrift from '../components/OeffnungszeitenAnschrift.astro'
import InformationsPickture from '../components/Informations-Pickture.astro';
import Maps from '../components/Maps.astro';
import Partner from '../components/Partner.astro';
import ImgTextImg from '../components/ImgTextImg.astro';
import { SITE_TITLE, SITE_DESCRIPTION, overlayUrl } from '../consts';
import Overlay from '../components/Overlay.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<!-- <Overlay overlayUrl={overlayUrl} /> -->
		<img class="banner" src="/public/banner.jpg">
		<main>
			<h2>Wildbret - küchenfertig für Gastronomie, Groß- und Einzelhandel</h2>
			<InformationsPickture />
			<br><br><br>
			<h2>Einige unserer "Kostproben"</h2>
			<Carousel />
			<br>
		</main>
		<TribbleContent />
		<main>
			<h2>Wir sind Mitglied</h2>
			<Partner />
			<OeffnungzeitenAnschrift />
		</main>
		<ImgTextImg />
		<main>
			<br><br>
			<h2>Unser Standort</h2>
			<Maps />
			<br>
		</main>
		<Footer />
	</body>
</html>

<style>
	.banner {
		border-radius: 0px;
		width: 100vw;
	}
</style>
