<main>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1">Hisorie bei Unternhmen einfuegen</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1">Hofladen Slide Papa Zeigen kann man so nicht machen</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1">Soll Insta Button auf allen Seiten angezeigt werden oder nur auf der Index</label><br>

</main>