<main>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 14</div>
            <img src="/bratwurst.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>
    
        <div class="mySlides fade">
            <div class="numbertext">2 / 14</div>
            <img src="/gulasch.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>
    
        <div class="mySlides fade">
            <div class="numbertext">3 / 14</div>
            <img src="/filet.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 14</div>
            <img src="/fleischkaese.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <!-- <div class="mySlides fade">
            <div class="numbertext">5 / 14</div>
            <img src="/gulasch.AVIF" style="width:100%" alt="Bild Slidshow">
        </div> -->

        <div class="mySlides fade">
            <div class="numbertext">6 / 14</div>
            <img src="/hirschSalamie.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 14</div>
            <img src="/keule.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 14</div>
            <img src="/leberwurst.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 14</div>
            <img src="/leberwurstRing.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">10 / 14</div>
            <img src="/lümmel.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">11 / 14</div>
            <img src="/mettwurst.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">12 / 14</div>
            <img src="/rolli.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>
        <div class="mySlides fade">
            <div class="numbertext">14 / 14</div>
            <img src="/schmalz.AVIF" style="width:100%" alt="Bild Slidshow">
        </div>
    
        <a href="#" class="next" onclick="plusSlides(1); event.preventDefault();">&#10095;</a>
        <a href="#" class="prev" onclick="plusSlides(-1); event.preventDefault();">&#10094;</a>

    </div>
</main>

<style>

.slideshow-container {
    max-width: 100%;
    position: relative;
}

.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #c83a3a;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
</style>

<script async>
     let totalSlides;
    let slideIndex = 0;
    let slideTimer;

    function plusSlides(n) {
        stopSlideTimer(); 
        showSlides(slideIndex += n);
        startSlideTimer(); 
    }

    function showSlides(n) {
        const slides = document.getElementsByClassName("mySlides");
        totalSlides = slides.length;
        if (n >= totalSlides) {
            slideIndex = 0;
        }    
        if (n < 0) {
            slideIndex = totalSlides - 1;
        }
        for (let i = 0; i < totalSlides; i++) {
            slides[i].style.display = "none";  
        }
        slides[slideIndex].style.display = "block";  
    }

    function startSlideTimer() {
        slideTimer = setInterval(function() {
            plusSlides(1);
        }, 3000);
    }

    function stopSlideTimer() {
        clearInterval(slideTimer);
    }

    showSlides(slideIndex);
    startSlideTimer(); 
</script>
