---
const today = new Date();
const jahr = today.getFullYear(); 
---

<footer style="color: var(--black);">
	<div class="main">
		<div class="footer-element">
			<a href="#" class="no-clickable footer-header">Unsere Hofladen-Öffnungszeiten</a><br>
			Montag - Freitag: 8 bis 17 Uhr<br>
			Samstag: 9 bis 12 Uhr <br>
			Sonntag: 9 bis 11 Uhr <br>
			Feiertag: geschlossen
		</div>
		<div class="footer-element">
			<a href="#" class="no-clickable footer-header">Kontakt</a><br>
			Jan Griebsch
			Fläming-Wildhandel<br>
			Tel.:
			<a href="tel:+493374815597 ">033 748 / 155 97 </a> <br>			
			Fax: 033 748 / 219 30<br>
			Mail: 
			<a href="mailto:info@flaeming-wildhandel.de">info@flaeming-wildhandel.de</a>
		</div>
	</div>
	<div style="padding-top: 30px">
		© {jahr} copyright - Jan Griebsch
		<br>
		<!-- created by Mika Griebsch -->
		<br>
		<a class="impressum" href="/impressum">Impressum</a>
		<a  href="#" class="no-clickable impressum"> | </a>
		<a class="datenschutz" href="/datenschutz">Datenschutz</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.main {
		/* background-color: rgb(119, 82, 33); */
		display: flex;
		flex-direction: row;
		/* align-items: center; */
		justify-content: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.footer-element {
		height: auto;
		width: 30%;
		color: #212939;
	}
	.footer-header {
		color: var(--accent);
		font-weight: 700;
	}
	@media (max-width: 1080px) {
		footer {
			display: flex;
			flex-direction: column; !important
		}
		.footer-element {
			width: 100%;
			margin-top: 20px;
		}
		.main {
			flex-direction: column;
		}
	}
	.datenschutz, .impressum {
		font-size: smaller;
	}
</style>
