<main>
    <div class="responsive_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.2453565918263!2d12.940255076504096!3d52.07526326906143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a880aad0bdb8cb%3A0x50426bd4fd8fdfd2!2sFl%C3%A4ming%20Wildhandel%20Jan%20Griebsch!5e0!3m2!1sde!2sde!4v1706967022036!5m2!1sde!2sde" 
        width="800" height="600" 
        style="border:0;" allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>

<style>

    .responsive_map {
    height: 0;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
}

.responsive_map iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
</style>