<main>
    <div class="card-left">
        <h5>Öffnungszeiten:</h5>
        montags bis freitags von 8 bis 17 Uhr<br>
        samstags von 9 bis 12 Uhr<br>
        sonntags von 9 bis 11 Uhr<br>
        feiertags geschlossen
    </div>
    <div class="card-right">
        <h5>Anschrift:</h5>
        Bardenitzer Dorfstr. 56<br>
        14929 Treuenbrietzen<br>
        Tel. 033748 15597 <br>
        Fax 033748 21930
    </div>
</main>

<style>
    main{
        display: flex;
        justify-content: center;
        flex-direction: row;
        /* background-color: aqua; */
    }
    .card-left {
        margin-right: 10%;
        text-align: right;
        /* background-color: aqua; */
    }
    .card-right {
        text-align: left;
        margin-left: 10px;
        /* background-color: aqua; */
    }
    @media (max-width: 1080px) {
        main {
            display: flex;
            flex-direction: column;
        }

        .card-left, .card-right {
            margin-bottom: 10%;
        }

        .card-right {
            padding-left: 10%;
        }
    }
</style>