<main>
    <div class="card-left">
        <h5>Öffnungszeiten:</h5>
        montags bis freitags von 7 bis 17 Uhr<br>
        samstags von 8 bis 12 Uhr<br>
        sonntags von 9 bis 11 Uhr<br>
    </div>
    <div class="card-right">
        <h5>Anschritf:</h5>
        Bardenitzer Dorfstr. 56<br>
        14929 Treuenbrietzen<br>
        Tel. 033748 15597, Fax 033748 21930<br>
    </div>
</main>

<style>
    main{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .card-left {
        margin-right: 10px;
        text-align: right;
        /* background-color: aqua; */
    }

    .card-right {
        text-align: left;
        margin-left: 10px;
        /* background-color: aqua; */
    }
</style>


<script>

</script>